/ {
	fpga_axi: fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		axi_vdma_0: axivdma@43000000 {
			compatible = "xlnx,axi-vdma";
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			#dma-channels = <1>;
			interrupt-parent = <&ps7_scugic_0>;
			interrupts = <0 59 4>;
			reg = <0x43000000 0x1000>;
			xlnx,include-sg = <0x0>;
			xlnx,flush-fsync = <0x1>;
			xlnx,num-fstores = <0x3>;
			dma-channel@43000000 {
				compatible = "xlnx,axi-vdma-mm2s-channel";
				interrupts = <0 59 4>;
				xlnx,datawidth = <0x40>;
				xlnx,genlock-mode = <0x0>;
				xlnx,include-dre = <0x0>;
			};
		};

		hdmi_clock: axi-clkgen@66000000 {
		        compatible = "adi,axi-clkgen-2.00.a";
			reg = <0x66000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 17>;
		};

		axi_hdmi@6C000000 {
			compatible = "adi,axi-hdmi-tx-1.00.a";
			reg = <0x6c000000 0x10000>;
			encoder-slave = <&adv7511>;
			dmas = <&axi_vdma_0 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;
		};

		audio_clock: audio_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
		};

		axi_spdif_tx_0: axi-spdif-tx@0x75c00000 {
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = <0x75c00000 0x1000>;
			dmas = <&ps7_dma_s 0>;
			dma-names = "tx";
			clocks = <&clkc 15>, <&audio_clock>, <&audio_clock>;
			clock-names = "axi", "ref", "spdif";
		};

		adv7511_hdmi_snd: adv7511_hdmi_snd {
			compatible = "adv7511-hdmi-snd";
			audio-codec = <&adv7511>;
			cpu-dai = <&axi_spdif_tx_0>;
		};
		
		elink2_axi_bram_ctrl_2: axi_bram_ctrl@70000000 {
			compatible = "xlnx,axi-bram-ctrl-4.0";
			reg = <0x70000000 0x2000>;
			xlnx,bram-addr-width = <0xb>;
			xlnx,bram-inst-mode = "EXTERNAL";
			xlnx,ecc = <0x0>;
			xlnx,ecc-onoff-reset-value = <0x0>;
			xlnx,ecc-type = <0x0>;
			xlnx,fault-inject = <0x0>;
			xlnx,memory-depth = <0x800>;
			xlnx,s-axi-ctrl-addr-width = <0x20>;
			xlnx,s-axi-ctrl-data-width = <0x20>;
			xlnx,s-axi-id-width = <0x1>;
			xlnx,s-axi-supports-narrow-burst = <0x0>;
			xlnx,single-port-bram = <0x1>;
		};
		
		elink2_esaxi_0: esaxi@80000000 {
			compatible = "xlnx,parallella-base-1.0";
			interrupt-parent = <&ps7_scugic_0>;
			interrupts = <0 57 4>;
			reg = <0x80000000 0x40000000>;
			xlnx,read-tag-addr = <0x810>;
			xlnx,s00-axi-addr-width = <0x1e>;
			xlnx,s00-axi-aruser-width = <0x1>;
			xlnx,s00-axi-awuser-width = <0x1>;
			xlnx,s00-axi-buser-width = <0x1>;
			xlnx,s00-axi-data-width = <0x20>;
			xlnx,s00-axi-id-width = <0xc>;
			xlnx,s00-axi-ruser-width = <0x1>;
			xlnx,s00-axi-wuser-width = <0x1>;
		};
	};
};
